.blink{opacity:0;}
[data-blink-show] .blink{opacity:1}
body{background:black;}
.page-wrapper{
  position:fixed;
  left:0;top:0;
}
.page{
  width: 800px;
  height: 450px;
  overflow: hidden;
  display: none;
  position: absolute;
  background: white;
  font-size: 40px;
  left:0;top:0;
  font-family: Osaka, Courier;
}
.page.active{
  display: block;
}
comment{display:none;}
[data-show-comment] comment{
  display:block;
  font-size: 16px;
  z-index:9999;
  opacity: 0.8;
  position:absolute;left:0;bottom:0;
  background: white;
}
.layer{
  position:absolute;left:0;top:0;width:100%;height:100%:
}
h1{margin-left: 50px;
  position: absolute;
  left:0;top:0;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 10px #2c0, 0 0 10px #2c0, 0 0 10px #2c0, 0 0 10px #2c0, 0 0 10px #2c0;
}
h1.sky{
  text-shadow: 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
}
h1.center{
  margin-left: 0;text-align: center;width:100%;
}
h1.text{
  /*color: red;*/
  /*text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;*/
}

video, .layer-image{
  position: absolute;
  height: 450px;
  transform: translate(400px, 225px) translate(-50%, -50%);
}
